{% extends 'main/base.html' %}
{% load static %}

{% block content%}
<div class="wrapper">

	<div id="primary" class="content-area">
		<main id="main" class="site-main">

<article id="post-151" class="post-151 page type-page status-publish hentry">
					<header class="entry-header">
						<p></p>
						<p></p>
			<h2 class="entry-title section-title" style="text-align:center; color:white">Contact us</h2>		</header><!-- .entry-header -->


		<!-- Page/Post Single Image Disabled or No Image set in Post Thumbnail -->
	<div class="entry-content">


<p style="text-align:center; color:white">We are a welcoming place of tailored creativity, community, and craft</p>



<p style="text-align:center; color:white">If you are driven by purpose or seek to enrich culture through the pleasure you bring then we’d love to hear from you.</p>



<p style="text-align:center; color:white">The Barber Shop is set up to work with both disruptor brands with ambition and more traditional brands facing transition. These are brands and businesses that believe they need change to accelerate their growth and importantly believe in the power of media and creativity to help power that change.</p>



<p style="text-align:center; color:white"><a href="mailto:letstalk@wearetbs.com">letstalk@wearetbs.com</a></p>



<p style="text-align:center; color:white">Covent Garden – Tunbridge Wells – Austin – Sydney </p>



<p style="text-align:center; color:white " >+44 (0)20 3885 2660   /   07733 328 008<br></p>
	</div><!-- .entry-content -->

	</article><!-- #post-151 -->
		</main><!-- #main -->
	</div><!-- #primary -->

			</div>

<style>
          body {
            background-image: url("{% static 'img/contactUS.jpg' %}");
            backround-size: cover;

          }
    </style>

{% endblock%}

{% block username %}
{{user}}
{% endblock %}